$bgColor: var(--backgroundColor);
// Fonts
$fontColor: var(--fontColor);
$fontColorMenu: var(--fontColorMenu);
$fontColorError: var(--fontColorError);
// Backgrounds
$segmentColor: var(--segmentColor);
$bgGradient1: var(--bgGradient1);
$bgGradient2: var(--bgGradient2);
$summaryBackground: var(--summaryBackground);
// Buttons
$bgPrimaryButton: var(--bgPrimaryButton);
$bgPrimaryButtonHover: var(--bgPrimaryButtonHover);
$bgSecondaryButton: var(--bgSecondaryButton);
$bgSecondaryButtonHover: var(--bgSecondaryButtonHover);
// Inputs
$borderColor: var(--borderColor);
$toggleBackground: var(--toggleBackground);
