@import "./Themes/theme.scss";
@import "./Themes/material.scss";
@import "./Themes/dark.scss";
@import "./Themes/light.scss";
@import "./Themes/globals.scss";

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

.App {
    min-height: 100vh;
    background: linear-gradient(214deg, $bgGradient1, $bgGradient2);
    color: $fontColor;
    &.theme-transition * {
        transition: all 1s !important;
        transition-delay: 0 !important;
    }
    .ui.segment {
        background: $segmentColor;
    }

    .Page {
        min-height: calc(100% - 80px);
        padding: 1em;
        padding-top: 60px;
    }

    .faked {
        display: none;
    }
}
